.nav{

}
.sup1{
  background-image: url("../CL_suplement JavaScript_PL (1)/CL_suplement JavaScript_PL (1)-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40rem;
  height: 60rem;

}
.sup2{
  background-image: url("../CL_suplement JavaScript_PL (1)/CL_suplement JavaScript_PL (1)-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40rem;
  height: 60rem;
}