.certificatePortfolioLab{
  background-image: url("../CL_suplement JavaScript Portfolio Lab_PL_47 (1)/CL_suplement JavaScript Portfolio Lab_PL_47 (1)-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40rem;
  height: 60rem;

}